.cont-loading{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #0D0D0D;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-family: 'Afacad', sans-serif;
}

/* Responsive 768px */
@media (max-width: 768px){
    .cont-loading{
        font-size: 30px;
    }
}

/* Responsive 425px */
@media (max-width: 425px){
    .cont-loading{
        font-size: 27px;
    }
}