.cont-featured-prods{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 3rem 0 3rem;
    font-family: 'Afacad', sans-serif;
    flex-direction: column;
    background-color: #0D0D0D;
}

    .title-featured-prods{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        color: white;
    }

        .title-featured-prods h2{
            border-bottom: 1px solid white;
            padding: 7px 2rem 7px;
        }

    .list-featured-prods{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 4rem 0 0;
        justify-content: space-between;
        padding: 0 3.5rem 0;
    }

        .featured-prod{
            display: flex;
            width: 21%;
            height: auto;
            flex-direction: column;
        }

        .img-featured-prod{
            display: flex;
            width: 100%;
            height: 60%;
        }

            .img-featured-prod img{
                display: flex;
                width: 100%;
                height: 100%;
            }

            .img-featured-prod:hover{
                transform: scale(1.05);
                transition: .4s;
            }

        .info-featured-prod{
            display: flex;
            flex-direction: column;
            padding: 1rem 0 1rem;
        }

        .info-featured-prod p{
            margin: 10px 0 0;
        }

        .info-featured-prod,
        .info-featured-prod a h2{
            color: white;
        }

        .info-featured-prod a{
            text-decoration: none;
            color: black;
        }

        .info-featured-prod a h2:hover{
            text-decoration: underline;
        }

        .info-featured-prod h3{
            color: #FED718;
            margin: 5px 0 0;
            font-size: 24px;
        }

        .info-featured-prod h3 b{
            font-weight: bold;
        }

/* Responsive 1440px */
@media (max-width: 1440px){
    .featured-prod{
        height: auto;
    }

    .img-featured-prod{
        height: 55%;
    }

    .info-featured-prod a h2{
        font-size: 20px;
    }

    .info-featured-prod p{
        font-size: 14px;
    }
}

/* Responsive 1280px */
@media (max-width: 1280px){
    .img-featured-prod{
        height: 50%;
    }
}

/* Responsive 1024px */
@media (max-width: 1024px){
    .cont-featured-prods{
        padding: 3rem 0 0;
    }

    .title-featured-prods{
        font-size: 14px;
    }

    .list-featured-prods{
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2.5rem 0 0;
    }
        
    .featured-prod{
        height: 250px;
        min-width: 310px;
        margin: 0 0 10rem;
    }

    .img-featured-prod{
        height: 100%;
    }
}

/* Responsive 768px */
@media (max-width: 768px){
    .featured-prod{
        height: 220px;
        min-width: 280px;
    }

    .img-featured-prod{
        min-height: 185px;
    }
}